MyAdventureWorksDemo/packages/
MyAdventureWorksDemo/AW.WebAPI/bin/
MyAdventureWorksDemo/AW.DataAccess/bin/
MyAdventureWorksDemo/AW.DataAccess/obj/
MyAdventureWorksDemo/AW.Common/obj/
MyAdventureWorksDemo/AW.WebAPI/obj/
MyAdventureWorksDemo/AW.Common/bin/
MyAdventureWorksDemo/AW.Bussiness/obj/
MyAdventureWorksDemo/AW.Bussiness/bin/
MyAdventureWorksDemo/.vs/
MyAdventureWorksDemo/AW.WebAPI/AW.WebAPI.csproj.user
MyAdventureWorksDemo/AW.Models/obj/Debug/
MyAdventureWorksDemo/AW.Models/bin/Debug/
